<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Profile Information</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Last Name</label>
  <div class="col-md-4">
  <input id="lastname" name="lastname" type="text" placeholder="placeholder" class="form-control input-md" required="">
  <span class="help-block">Last Name</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">First Name</label>
  <div class="col-md-4">
  <input id="firstname" name="firstname" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">First Name</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="companyname">Company Name</label>
  <div class="col-md-4">
  <input id="companyname" name="companyname" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">Company Name</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email </label>
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="placeholder" class="form-control input-md" required="">
  <span class="help-block">****@domain.com</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="mobile">Mobile No</label>
  <div class="col-md-4">
  <input id="mobile" name="mobile" type="text" placeholder="placeholder" class="form-control input-md" required="">
  <span class="help-block">xxx-xxx-xxxx</span>
  </div>
</div>

</fieldset>
</form>
